@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Mulish&family=Poppins:wght@700&display=swap");

.font-poppins {
  font-family: "Poppins", serif;
}

.font-mulish {
  font-family: "Mulish", serif;
}

.font-montserrat {
  font-family: "Montserrat", serif;
}

.pointer {
  cursor: pointer;
}

.search-container {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.border-right {
  border-right: 1px solid #f2f2f2;
}

.border-gray {
  border: 1px solid #4f4f4f;
  box-sizing: border-box;
  border-radius: 12px;
}

.location-rounded {
  border-radius: 16px 16px 0 0;
}

.guest-rounded {
  border-radius: 0 0 16px 16px;
}

.search-rounded {
  border-radius: 0 16px 16px 0;
}

.text-main {
  color: #333333;
}

.text-secondary {
  color: #828282;
}

.overlay {
  background: rgba(79, 79, 79, 0.4);
}

.guests-input:disabled {
  background: #ffffff;
}

@media (min-width: 640px) {
  .location-rounded {
    border-radius: 16px 0 0 16px;
  }
  
  .guest-rounded {
    border-radius: 0;
  }
}
